.container{
  margin: 10px auto;
  position: relative;
}
.header {
  background: darkslateblue;
  padding: 20px;

}

nav {
  display: inline-block;
  float: right;
}

nav a {
  margin: 0 10px;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  font-style: italic;
  color: #fff;
  font-size: 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.main-pic {
  background: url("./images/main-pic.jpg") no-repeat 0 0;
  background-size: cover;
  padding: 100px;
}

.item {
  display: inline-flex;
  flex-direction: column;
  margin: 40px 10px 20px;
  width: 25%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  vertical-align: top;
}

h3 {
  text-align: center;
}

img {
  width: 70%;
  margin: 15px auto;
}

button {
  width: 50%;
  margin: 10px auto;
  background: darkslateblue;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px 0;
}

.footer {
  background: darkslateblue;
  text-align: center;
  padding: 5px 0;
}
.sidebar{
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  float: right;
  top: 364px;
  right: 0px;
}
.sidebar a{
  display: inline-block;
  background: darkslateblue;
  color: #fff;
  margin: 15px;
  padding: 10px;
}
